[submodule "hugo-theme-terminal"]
	path = hugo-theme-terminal
	url = https://github.com/panr/hugo-theme-terminal
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
